.container {
    z-index: 2;
    background: #E3DAD3;
}

.circle {
    z-index: 1;
    background-color: #E3DAD3;
    border-top-right-radius: 2.2vw;
    border-bottom-right-radius: 2.2vw;
    border-left: 0;
    width: 2.2vw;
    height: 4.4vw;
    position: absolute;
    top: calc(9.8vw + 17vh + 7px);
    left: calc(-1px);
    align-content: center;
    padding: 0%;
    margin: 0;
}

.circle > img {
    z-index: 3;
    position: relative;
    top: 12.5%;
    left: -50%;
    height: 75%;
    width: 75%;
}